<f2ml-homepage-template>
  <div header class="home__welcome__message">
    <p class="home__user">Welcome <b>Enrico,</b></p>
  </div>
  <div class="mb-3" agreement>
    <f2ml-homepage-agreements></f2ml-homepage-agreements>
  </div>
  <div class="mb-3" document>
    <f2ml-homepage-documents></f2ml-homepage-documents>
  </div>
  <div class="mb-3" request>
    <f2ml-homepage-requests></f2ml-homepage-requests>
  </div>
  <div class="mb-3" manageable>
    <f2ml-homepage-manageable-content></f2ml-homepage-manageable-content>
  </div>
</f2ml-homepage-template>
