<f2ml-homepage-template *ngIf="content$ | async">
  <div header class="home__welcome__message">
    <p class="home__user">{{ metadata.title }}</p>
  </div>
  <div agreement>
    <f2ml-homepage-agreements [agreements]="homepage.agreements" [metadata]="metadata.agreementMetada"></f2ml-homepage-agreements>
  </div>
  <div document>
    <f2ml-homepage-documents [documents]="homepage.documents" [metadata]="metadata.documentMetada"></f2ml-homepage-documents>
  </div>
  <div request>
    <f2ml-homepage-requests [requests]="homepage.requests" [metadata]="metadata.requestMetada"></f2ml-homepage-requests>
  </div>
  <div manageable>
    <f2ml-homepage-manageable-content [metadata]="metadata.manageableContentMetada"></f2ml-homepage-manageable-content>
  </div>
</f2ml-homepage-template>
