@use 'breakpoints' as device;
@import 'variables';

.faq-vote__feedback__form {
  span {
    font-size: $font-size-third;
    font-weight: bold;
  }
  .faq__radio__group mat-radio-button {
    margin-right: 70px;
    font-size: $font-size-fourth;
  }
  button {
    background-color: $color-primary;
    color: $color-font-primary-in-filled-background;
    font-weight: 500;
    height: 50px;
    padding: 0 30px;
    margin: 10px 0 16px 35px;
  }
  ::ng-deep .faq__radio__group .mat-ripple-element {
    display: none;
  }
  ::ng-deep .faq__radio__group .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: $color-primary;
  }
  ::ng-deep .faq__radio__group .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: $color-primary;
  }
  ::ng-deep .faq__radio__group .mat-radio-outer-circle:hover {
    border-color: $color-accent;
  }
  .faq-vote__question {
    margin-bottom: 12px;
  }
  button:hover {
    background-color: $color-font-primary;
  }
}

@include device.viewport(mobile) {
  .faq-vote__feedback__form {
    .faq__radio__group mat-radio-button {
      margin-right: 30px;
    }
    button {
      margin: 0px;
    }
  }
}
