<f2ml-default-card title="Agreements">
  <div content class="home__agreements">
    <div class="home__agreements__slider__container">
      <div class="home__agreements__slider__slide">
        <div class="home__agreements__slider__element">
          <div>
            <div class="home__agreements__slider__car">
              <img src="/assets/images/car__details.png"><br/>
              <span><b>Peugeot<br/>3008</b></span>
            </div>
          </div>
          <div>
            <p><span class="home__agreements__highlighted__text">VIN</span><br>WW-342-Z1</p>
            <p><span class="home__agreements__highlighted__text">Agreement number</span><br>100SPUG68975</p>
            <p><span class="home__agreements__highlighted__text">Financial product</span><br>PCP</p>
          </div>
        </div>
      </div>
      <div class="home__agreements__slider__slide">
        <div class="home__agreements__slider__element">
          <div>
            <div class="home__agreements__slider__car">
              <img src="/assets/images/car__details.png"><br/>
              <span><b>Peugeot<br/>3008</b></span>
            </div>
          </div>
          <div>
            <p><span class="home__agreements__highlighted__text">VIN</span><br>WW-342-Z1</p>
            <p><span class="home__agreements__highlighted__text">Agreement number</span><br>100SPUG68975</p>
            <p><span class="home__agreements__highlighted__text">Financial product</span><br>PCP</p>
          </div>
        </div>
      </div>
      <div class="home__agreements__slider__slide">
        <div class="home__agreements__slider__element">
          <div>
            <div class="home__agreements__slider__car">
              <img src="/assets/images/car__details.png"><br/>
              <span><b>Peugeot<br/>3008</b></span>
            </div>
          </div>
          <div>
            <p><span class="home__agreements__highlighted__text">VIN</span><br>WW-342-Z1</p>
            <p><span class="home__agreements__highlighted__text">Agreement number</span><br>100SPUG68975</p>
            <p><span class="home__agreements__highlighted__text">Financial product</span><br>PCP</p>
          </div>
        </div>
      </div>
      <a class="home__agreements__slider__prev" (click)="plusSlides(-1)"><img src="/assets/images/left.png"/></a>
      <a class="home__agreements__slider__next" (click)="plusSlides(1)"><img src="/assets/images/right.png"/></a>
    </div>
    <br>
    <div class="home__agreements__slider__dots">
      <span class="home__agreements__slider__dot" (click)="currentSlide(1)"></span>
      <span class="home__agreements__slider__dot" (click)="currentSlide(2)"></span>
      <span class="home__agreements__slider__dot" (click)="currentSlide(3)"></span>
    </div>
  </div>
</f2ml-default-card>
