<f2ml-default-template *ngIf="content$ | async" [communicationMetadata]="metadata.communicationMetadata" [faqMetadata]="metadata.faqMetadata">
  <f2ml-default-card [title]="title" main>
    <div class="access-management__container" content>
      <div class="access-management__header__container">
        <div class="access-management__header__title-container">
          <h3 class="access-management__header__title">{{ accessQuestionLabel }}</h3>
        </div>
        <div class="access-management__actions__container">
          <div [matTooltip]="dataSource.filteredData.length >= metadata.tableMetadata.maxAccessNumber ? metadata.newAccess.maxAccessExceededTooltipLabel : metadata.newAccess.grantAccessTooltipLabel" matTooltipPosition="above">
            <button class="access-management__header__button" mat-raised-button color="primary" mat-raised-button (click)="addRow()" [disabled]="dataSource.filteredData.length >= metadata.tableMetadata.maxAccessNumber">
              {{ metadata.newAccess.label }}
            </button>
          </div>
        </div>
      </div>
      <!-- Mobile & Tablet -->
      <ng-template [ngIf]="!deviceDetector.isLaptop()">
        <f2ml-access-management-mobile
          [dataSource]="dataSource.filteredData"
          [columns]="columns"
          [metadata]="metadata"
          [onEdit$]="onEdit$"
          [onCancelEdit$]="onCancelEdit$"
          (editAccessManagement)="editRow($event)"
          (deleteAccessManagement)="deleteRow($event)"
          (saveAccessManagement)="saveRow($event)"
          (cancelAccessManagement)="cancelRow($event)"
          (cancelAppliedAccessManagement)="cancelAppliedRow($event)"
        >
        </f2ml-access-management-mobile>
      </ng-template>
      <!-- Laptop -->
      <ng-template [ngIf]="deviceDetector.isLaptop()">
        <f2ml-access-management-laptop
          [dataSource]="dataSource"
          [columns]="columns"
          [metadata]="metadata"
          (sortChange)="sortChange($event)"
          [onEdit$]="onEdit$"
          [onCancelEdit$]="onCancelEdit$"
          (editAccessManagement)="editRow($event)"
          (deleteAccessManagement)="deleteRow($event)"
          (saveAccessManagement)="saveRow($event)"
          (cancelAccessManagement)="cancelRow($event)"
          (cancelAppliedAccessManagement)="cancelAppliedRow($event)"
        >
      </f2ml-access-management-laptop>
      </ng-template>

      <div class="access-management__footer__container">
      </div>
    </div>
  </f2ml-default-card>
</f2ml-default-template>
