<f2ml-account-card [withFooter]="true">
  <div class="signin__container" content>
    <div class="sign-main__wrapper">
      <div class="signin-form__container">
        <form class="signin-form" novalidate (ngSubmit)="submit()" [formGroup]="signinForm">
          <div class="signin-email__container input__container">
            <mat-label class="signin-email__label input__label">Email</mat-label>
            <mat-form-field class="signin-email__input" appearance="legacy" [hideRequiredMarker]="true">
              <mat-label></mat-label>
              <input formControlName="email" type="email" matInput placeholder="Email" />
              <mat-error>
                <p ngxError="pattern">Email not valid</p>
              </mat-error>
            </mat-form-field>
            <mat-checkbox class="signin-email__remember">
              <mat-label class="signin-remember__label input__label">Remember my email</mat-label>
            </mat-checkbox>
          </div>

          <div class="signin-captcha__container input__container">
            <mat-label class="signin-captcha__label input__label">Captcha</mat-label>
            <div class="signin-captcha__input"></div>
          </div>

          <div class="signin-confirm__container input__container">
            <button class="signin-confirm__button" mat-raised-button color="primary" type="submit">Log in</button>
          </div>
        </form>
      </div>

      <div class="signin-redirect__container">
        <div class="signin-redirect__text__container">
          <span class="signin-redirect__text">Not registred yet?<br/>Create your account:</span>
        </div>

        <div class="signin-redirect__button__conrainer">
          <button class="signin-redirect__button" mat-raised-button color="primary" [routerLink]="'/signup'" [queryParams]="{account: 'personal'}">Personal</button>
          <button class="signin-redirect__button" mat-raised-button color="primary" [routerLink]="'/signup'" [queryParams]="{account: 'business'}">Business</button>
        </div>
      </div>
    </div>
  </div>
</f2ml-account-card>
