<f2ml-default-template *ngIf="content$ | async" [communicationMetadata]="metadata.communicationMetadata" [faqMetadata]="metadata.faqMetadata">
  <f2ml-default-card [title]="metadata.title" main>
    <div class="information__card" content>
      <div class="information__card__content">
        <div class="information__tile__container">
          <f2ml-information-tile class="information__tile" [information]="information" *ngFor="let information of informations"></f2ml-information-tile>
        </div>
      </div>
      <div class="information__card__footer">
        <f2ml-wysiwyg-displayer class="information__wysiwyg-displayer" [html]="metadata.updateInformation"></f2ml-wysiwyg-displayer>
      </div>
    </div>
  </f2ml-default-card>
</f2ml-default-template>

