<f2ml-account-card>
  <div class="signup-complete-business__container" content>

    <div class="signup-complete-business__feedback-message__container" *ngIf="submitted">
      <span class="signup-complete-business__feedback-message">You will receive an e-mail.</span>
    </div>

    <div class="signup-complete-business__form__wrapper" *ngIf="!submitted">
      <div class="signup-complete-business__form__container">
        <div class="signup-complete-business__legend__container">
          <span class="signup-complete-business__legend">Please fill in the fields to help us identify you :</span>
        </div>
        <form class="signup-complete-business__form" novalidate (ngSubmit)="submit()" [formGroup]="signupCompleteForm">
          <div class="signup-complete-business__piva__container signup-complete-business__input__container">
            <mat-label class="signup-complete-business__piva__label signup-complete-business__input__label">PIVA</mat-label>
            <mat-form-field class="signup-complete-business__piva__input signup-complete-business__input" appearance="legacy" [hideRequiredMarker]="true">
              <mat-label></mat-label>
              <input formControlName="piva" type="text" matInput placeholder="XXXXXXXXX" />
              <mat-error>
                <p ngxError="pattern">PIVA not valid</p>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="signup-complete-business__vin__container signup-complete-business__input__container">
            <mat-label class="signup-complete-business__vin__label signup-complete-business__input__label">VIN</mat-label>
            <mat-form-field class="signup-complete-business__vin__input signup-complete-business__input" appearance="legacy" [hideRequiredMarker]="true">
              <mat-label></mat-label>
              <input formControlName="vin" type="text" matInput placeholder="XXXXXXXXX" />
              <mat-error>
                <p ngxError="pattern">VIN not valid</p>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="signup-complete-business__address__container signup-complete-business__input__container">
            <mat-label class="signup-complete-business__address__label signup-complete-business__input__label">Address</mat-label>
            <mat-form-field class="signup-complete-business__address__input signup-complete-business__input" appearance="legacy" [hideRequiredMarker]="true">
              <mat-label></mat-label>
              <input formControlName="address" type="text" matInput placeholder="XXXXXXXXX" />
              <mat-error>
                <p ngxError="pattern">Address not valid</p>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="signup-complete-business__submit__container">
            <button class="signup-complete-business__submit__button" mat-raised-button color="primary" type="submit" [disabled]="!signupCompleteForm.valid">Send</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</f2ml-account-card>
