<header class="header__container">
  <div class="header-toolbar__container">
    <mat-toolbar class="header__toolbar">
      <button mat-icon-button class="header-toolbar__menu-button" (click)="toggleMenu()" *ngIf="!deviceDetector.isLaptop()">
        <mat-icon class="header-toolbar__menu-icon">{{ (isMenuOpen$ | async) ? 'close' : 'menu' }}</mat-icon>
      </button>
      <div class="header-toolbar__logo__container">
        <img src="/assets/images/PSAB.png" class="header-toolbar__logo--desktop" alt="stellantis logo" *ngIf="deviceDetector.isLaptop()">
        <img src="/assets/logo_stellantis.svg" class="header-toolbar__logo--mobile" alt="stellantis logo" *ngIf="deviceDetector.isTablet()">
        <img src="/assets/logo_stellantis_header.svg" class="header-toolbar__logo--mobile" alt="stellantis logo" *ngIf="deviceDetector.isMobile()">
      </div>
      <span class="header-spacer"></span>

      <div class="header-avatar__container" *ngIf="deviceDetector.isLaptop()">
        <p class="header-avatar__welcome">Welcome <br/><span class="header-avatar__name">Enrico Fermi</span></p>
        <div class="header-avatar__divider"></div>
        <img class="header-avatar__icon" src="/assets/images/avatar.png"  alt="avatar icon"/>
      </div>

      <div class="header-menu__container">
        <div class="header-menu__item" *ngIf="!deviceDetector.isLaptop()">
          <img class="header-menu__item-img" src="/assets/images/avatar_white.png" alt="profile" />
          <span class="header-menu__item-caption" >Profile</span>
        </div>
        <div class="header-menu__item" *ngIf="!deviceDetector.isLaptop()">
          <img class="header-menu__item-img" src="/assets/images/chat.png" alt="chat" />
          <span class="header-menu__item-caption" >Chat</span>
        </div>
        <div class="header-menu__item is-sign_out">
          <img class="header-menu__item-img" src="/assets/images/sign_out.png" alt="sign out" />
          <span class="header-menu__item-caption" >Sign out</span>
        </div>
      </div>
    </mat-toolbar>
  </div>
</header>
