@use 'breakpoints' as device;
@import 'variables';

.document-tile__container {
  color: $color-font-primary;
  background-color: $color-background-accent;
  margin-top: 1em;
  padding: 1em;
  border-radius: 10px;
  &.is-highlited
  , &:first-child
  {
    background-color: $color-background-highlighter;
    .document-tile__row-value {
      font-weight: bold;
    }
    button {
      background-color: $color-background-edge;
      &:hover {
        background-color: $color-background-primary;
      }
    }
  }
}

.document-tile__content {
  display: flex;
}
.document-tile__table {
  flex-grow: 1;
}
.document-tile__cell {
  padding-bottom: 1em;
  &:hover {
    button {
      background-color: $color-background-primary;
    }
  }
  img {
    width: 40px;
  }
}
.document-tile__row-value {
  font-weight: bold;
}

@include device.viewport(tablet) {
  .document-tile__table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .document-tile__row {
    display: flex;
    flex-direction: column;
  }
  .document-tile__cell {
    img {
      width: 40px;
    }
  }
}
