<f2ml-default-template *ngIf="(content$ | async) as accessManagementEnterpriseItems" [communicationMetadata]="metadata.communicationMetadata" [faqMetadata]="metadata.faqMetadata">
  <f2ml-default-card title="{{ metadata.title }}" main>
    <div class="access-management-enterprise__container" content>
      <h3 class="access-management-enterprise__question">{{ metadata.accessQuestionLabel }}</h3>
      <ng-template [ngIf]="originalData.length">
        <!-- Mobile & Tablet -->
        <ng-template [ngIf]="!deviceDetector.isLaptop()">
          <f2ml-access-management-enterprise-mobile [dataSource]="dataSource.filteredData" [columns]="columns"></f2ml-access-management-enterprise-mobile>
        </ng-template>

        <!-- Laptop -->
        <ng-template [ngIf]="deviceDetector.isLaptop()">
          <f2ml-access-management-enterprise-laptop [dataSource]="dataSource" [columns]="columns" (sortChange)="sortChange($event)"></f2ml-access-management-enterprise-laptop>
        </ng-template>

        <!--View more | less -->
        <div class="access-management-enterprise-viewmore__container" *ngIf="dataSource.filteredData.length">
          <f2ml-view-more (viewMore)="displayData($event)" [displayFullData]="displayFullData" [viewMoreMessage]="metadata.tableMetadata.viewMoreLabel" [viewLessMessage]="metadata.tableMetadata.viewLessLabel"></f2ml-view-more>
        </div>
      </ng-template>

      <ng-template [ngIf]="!originalData.length">
        <div class="access-management-enterprise-nodata__container">
          <span class="access-management-enterprise-nodata__message">{{ metadata.tableMetadata.noAccessToDisplayLabel }}</span>
        </div>
      </ng-template>

    </div>
  </f2ml-default-card>
</f2ml-default-template>
