@use 'breakpoints' as device;
@import 'variables';

@include device.viewport(laptop){
  .bank-container{
    padding-top: 10px;
    height: 100%;
    opacity: 1;
    border-left: solid $color-background-edge;
    background-color: $color-background-block;
    border-left-width: 4px;
    .title{
      padding-top: 5vh;
      padding-left: 5vh;
      font-size: 24px;
      font-weight: bold;
    }
    .form-container{
      padding-top: 5vh;
      font-size: $font-size-fourth;
      .example-container .mat-form-field + .mat-form-field {
        margin-left: 8px;
      }
      .label{
        color: #999999;
      }
      .data{
        color: $color-font-primary;
      }
    }
    .link{
      font-weight: bold;
      color: $color-font-primary;
      padding-top: 8vh;
      text-align: center;
    }
    .link-form{
      color: $color-primary;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
@include device.viewport(tablet){
  .bank-container{
    opacity: 1;
    border-left: solid $color-background-edge;
    background-color: $color-background-block;
    border-left-width: 4px;
    .title{
      padding-top: 5vh;
      padding-left: 5vh;
      font-size: 24px;
      font-weight: bold;
    }
    .form-container{
      padding-top: 5vh;
      font-size: $font-size-fourth;
      .example-container .mat-form-field + .mat-form-field {
        margin-left: 8px;
      }
      .label{
        color: #999999;
      }
      .data{
        color: $color-font-primary;
      }
    }
    .link{
      font-weight: bold;
      color: $color-font-primary;
      padding-top: 8vh;
      text-align: center;
    }
    .link-form{
      color: $color-primary;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.bank-container-mobile{
  padding: 10px;
  height: 100%;
  background-color: $color-background-block;
  border-left: solid;
  border-left-color: $color-background-edge;
  border-width: 4px;
  .title{
    padding: 2vh;
    text-align: left;
    color: $color-font-primary;
    opacity: 1;
    font-weight: bold;
    font-size: $font-size-second;
  }
  .form-container{
    padding-top: 5vh;
    font-size: $font-size-fourth;
    .label{
      color: #999999;
      float: left;
      margin: 0;
    }
    .data{
      color: $color-font-primary;
      margin: 0;
      padding-left: 50px;
    }
  }
  .link{
    font-weight: bold;
    color: $color-font-primary;
    padding-top: 8vh;
    text-align: center;
  }
  .link-form{
    color: $color-primary;
    text-decoration: underline;
    cursor: pointer;
  }
}
