@use 'breakpoints' as device;
@import 'variables';

.bank-detail__card__footer {
  margin-top: 5em;
  align-self: center;
  color: $color-font-subtitle;
  font-size: $font-size-fourth;
  font-weight: bold;
  text-align: center;
  ::ng-deep.bank-detail__wysiwyg-displayer a {
    color: $color-primary;
  }
}

@include device.viewport(laptop) {
  .bank-detail__card__container {
    padding-top: 10px;
    height: 100%;
    margin: 0 20%;
  }
}
