<f2ml-default-template *ngIf="bankDetails$ | async as bankDetails" [communicationMetadata]="metadata.communicationMetadata">
  <div class="bank-detail__container" main>
    <f2ml-default-card [title]="metadata.title">
      <div class="bank-detail__card__container" content>
        <div class="bank-detail__card__content">
          <f2ml-bank-detail-tile [columns]="columns"></f2ml-bank-detail-tile>
        </div>
        <div class="bank-detail__card__footer">
          <f2ml-wysiwyg-displayer class="bank-detail__wysiwyg-displayer" [html]="metadata.updateInformationLabel"></f2ml-wysiwyg-displayer>
        </div>
      </div>
    </f2ml-default-card>
  </div>
</f2ml-default-template>
