@use 'breakpoints' as device;
@import 'variables';

.faq__page {
  .mat-accordion .mat-expansion-panel-spacing {
    margin: 0 !important;
  }
  .faq__headers__align .mat-expansion-panel-header-description {
    justify-content: flex-end;
    align-items: center;
  }
  mat-icon {
    margin-right: -12px;
  }
  .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]) {
    background: $color-font-primary-in-filled-background !important;
  }
  .mat-expansion-panel-header {
    padding: 10px 0px !important;
    font-size: $font-size-third;
    height: auto !important;
  }
  .mat-expansion-panel-header-title span:hover {
    font-weight: bold;
    text-decoration: underline;
  }
  p {
    font-size: $font-size-fourth;
    line-height: 1.6em;
    margin-top: 16px;
    text-align: justify;
  }
  ::ng-deep .mat-expansion-panel-body {
    padding: 0px;
  }
  .is-bold {
    font-weight: bold;
  }
  .rotate90deg {
    transform: rotate(90deg);
  }
  .faq__video, .faq__image, .faq__answer {
    margin: 20px 0px;
  }
  .faq__image {
    display: flex;
    justify-content: center;
  }
  .faq__video {
    width: 85%;
    margin: auto;
  }
  .faq__answer {
    font-size: $font-size-fourth;
  }
  .faq__cta, .faq__pdf {
    margin: 20px 0px;
    font-size: $font-size-third;
    font-weight: bold;
    a {
      color: $color-primary;
    }
  }
  ::ng-deep .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
    flex: auto;
  }
  @include device.viewport(mobile) {
    .faq__image img {
      width: 100%;
      padding: 0px 12px;
    }
  }
}
