<f2ml-default-card [title]="metadata.title">
  <div content class="home__requests">
    <div>
      <div class="home__requests__element" *ngFor="let request of requests">
        <p class="home__requests__element__text">
          <span class="home__requests__element__title">{{ request.title }}</span><br/>
          <span class="home__requests__element__details">{{ request.description }}</span><br/>
          <span class="home__requests__dot home__requests__mobile" [ngClass]="getRequestStatusClass(request.status)" *ngIf="!deviceDetector.isLaptop()"></span>
          <span class="home__requests__element__details home__requests__mobile" *ngIf="!deviceDetector.isLaptop()">{{ request.status }}</span>
        </p>
        <div class="home__requests__desktop" *ngIf="deviceDetector.isLaptop()">
          <span class="home__requests__dot" [ngClass]="getRequestStatusClass(request.status)"></span>
          <span class="home__requests__element__details">{{ request.status }}</span>
        </div>
      </div>
    </div>
  </div>
</f2ml-default-card>
