<f2ml-default-card title="Requests">
  <div content class="home__requests">
    <div>
      <div class="home__requests__element">
        <p class="home__requests__element__text">
          <span class="home__requests__element__title">Request 1</span><br/>
          <span class="home__requests__element__details">Change my personnal details</span><br/>
          <span class="home__requests__dot home__requests__mobile home__requests__dot__progress"></span>
          <span class="home__requests__element__details home__requests__mobile">In progress</span>
        </p>
        <div class="home__requests__desktop">
          <span class="home__requests__dot home__requests__dot__progress"></span>
          <span class="home__requests__element__details">In progress</span>
        </div>
      </div>
      <div class="home__requests__element">
        <p class="home__requests__element__text">
          <span class="home__requests__element__title">Request 1</span><br/>
          <span class="home__requests__element__details">Change my personnal details</span><br/>
          <span class="home__requests__dot home__requests__mobile home__requests__dot__cancelled"></span>
          <span class="home__requests__element__details home__requests__mobile">Cancelled</span>
        </p>
        <div class="home__requests__desktop">
          <span class="home__requests__dot home__requests__dot__cancelled"></span>
          <span class="home__requests__element__details">Cancelled</span>
        </div>
      </div>
      <div class="home__requests__element">
        <p class="home__requests__element__text">
          <span class="home__requests__element__title">Request 1</span><br/>
          <span class="home__requests__element__details">Change my personnal details</span><br/>
          <span class="home__requests__dot home__requests__mobile home__requests__dot__completed"></span>
          <span class="home__requests__element__details home__requests__mobile">Completed</span>
        </p>
        <div class="home__requests__desktop">
          <span class="home__requests__dot home__requests__dot__completed"></span>
          <span class="home__requests__element__details">Completed</span>
        </div>
      </div>
    </div>
  </div>
</f2ml-default-card>
