@use 'breakpoints' as device;
@import 'variables';

.breadcrumb__separator {
  color: $color-font-sub-title;
}
::ng-deep.breadcrumb__container .breadcrumb {
  .xng-breadcrumb-trail {
    font-size: $font-size-fourth;
    color: $color-font-sub-title;
    font-weight: bold;
  }
  .xng-breadcrumb-item {
    font-size: $font-size-fourth;
    color: $color-font-sub-title;
    &:hover {
      a:not(.xng-breadcrumb-link-disabled) {
        font-weight: bold;
        text-decoration: none;
        color: $color-font-sub-title;
      }
    }
  }
  .xng-breadcrumb-separator {
    padding: 0 0.5emm;
  }
}
