@use 'breakpoints' as device;
@import 'variables';

.breadcrumb {
  margin: 0;
  font-size: $font-size-fourth;
  li {
    list-style: none;
    float: left;
    margin: 5px;
  }
  li:last-child{
    margin-right: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  li:last-child:hover, li:nth-child(2):hover, li:nth-child(3):hover {
    color: $color-font-sub-title;
    text-decoration: none;
    font-weight: bold;
  }
  li:nth-child(2),li:nth-child(3){
    cursor: pointer;
  }
  li:first-child {
    cursor: auto;
    font-weight: normal !important;
  }
  li::after {
    content: " > ";
    color: $color-font-sub-title;
  }
  li:last-child::after {
    content: "";
  }
}
