<div class="access-management-mobile__container" *ngIf="dataSource.length">
  <div class="access-management-tile__container" *ngFor="let row of dataSource">
    <div class="access-management-tile__content" *ngIf="onEdit$ | async as onEditElement">
      <table class="access-management-tile__table">
        <tr class="access-management-tile__row" *ngFor="let column of columns" >
          <td class="access-management-tile__row-label access-management-tile__cell">{{ column.header }}:</td>
          <td class="access-management-tile__row-value access-management-tile__cell" *ngIf="'actions' !== column.name">
            <mat-form-field appearance="legacy" class="access-management-input__input">
              <input matInput [value]="column.value(row)" [disabled]="!isOnEdit(onEditElement, row)" [name]="column.name" />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <div class="access-management-tile__row-value access-management-tile__cell">
        <div class="access-management-tile__actions__container">
          <mat-icon class="access-management-tile__action" (click)="editRow(row)" *ngIf="!isOnEdit(onEditElement, row)">edit</mat-icon>
          <mat-icon class="access-management-tile__action" (click)="deleteRow(row)" *ngIf="!isOnEdit(onEditElement, row)">delete</mat-icon>
          <mat-icon class="access-management-tile__action" (click)="saveRow(row)" *ngIf="isOnEdit(onEditElement, row)">check</mat-icon>
          <mat-icon class="access-management-tile__action" (click)="cancelRow(row)" *ngIf="isOnEdit(onEditElement, row)">close</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
