<div class="access-management-mobile__container" *ngIf="dataSource.length">
  <div class="access-management-tile__container" *ngFor="let row of dataSource">
    <div class="access-management-tile__content" *ngIf="onEdit$ | async as onEditElement">
      <table class="access-management-tile__table">
        <tr class="access-management-tile__row" *ngFor="let column of columns" >
          <td class="access-management-tile__row-label access-management-tile__cell">{{ column.header }}:</td>
          <td class="access-management-tile__row-value access-management-tile__cell" *ngIf="'actions' !== column.name">
            <mat-form-field appearance="legacy" class="access-management-input__input">
              <input matInput [value]="column.value(row)" [disabled]="!isOnEdit(onEditElement, row)" [name]="column.name" />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <div class="access-management-tile__row-value access-management-tile__cell">
        <div class="access-management-tile__actions__container">
          <img class="access-management-table__action" [src]="getIconUrl(metadata.tableMetadata.editIcon)" (click)="editRow(row)" *ngIf="!isOnEdit(onEditElement, row)"/>
          <img class="access-management-table__action" [src]="getIconUrl(metadata.tableMetadata.deleteIcon)" (click)="deleteRow(row, metadata.popUp)" *ngIf="!isOnEdit(onEditElement, row)"/>
          <img class="access-management-table__action" [src]="getIconUrl(metadata.tableMetadata.validateIcon)" (click)="saveRow(row)" *ngIf="isOnEdit(onEditElement, row)"/>
          <img class="access-management-table__action" [src]="getIconUrl(metadata.tableMetadata.discardIcon)" (click)="cancelRow(row)" *ngIf="isOnEdit(onEditElement, row)"/>
        </div>
      </div>
    </div>
  </div>
</div>
