@use 'breakpoints' as device;
@import 'variables';

.document-search__container {
  margin-bottom: 1em;
}

@include device.viewport(tablet) {
  .document-search__container {
    width: 60%;
  }
}
@include device.viewport(laptop) {
  .document-search__container {
    width: 40%;
  }
}
