<f2ml-default-template *ngIf="content$ | async" [communicationMetadata]="metadata.communicationMetadata" [faqMetadata]="metadata.faqMetadata">
  <f2ml-default-card [title]="metadata.title" main>
    <div class="document__container" content>
      <ng-template [ngIf]="originalData.length">
        <!--search -->
        <div class="document-search__container">
          <f2ml-search-input (searchValue)="filterChange($event)"></f2ml-search-input>
        </div>

        <!-- Mobile & Tablet -->
        <ng-template [ngIf]="!deviceDetector.isLaptop()">
          <f2ml-document-mobile [dataSource]="dataSource.filteredData" [columns]="columns"></f2ml-document-mobile>
        </ng-template>

        <!-- Laptop -->
        <ng-template [ngIf]="deviceDetector.isLaptop()">
          <f2ml-document-laptop [dataSource]="dataSource" [columns]="columns" (sortChange)="sortChange($event)"></f2ml-document-laptop>
        </ng-template>

        <!--View more | less -->
        <div class="document-viewmore__container" *ngIf="dataSource.filteredData.length">
          <f2ml-view-more (viewMore)="displayData($event)" [displayFullData]="displayFullData" [viewMoreMessage]="metadata.viewMoreLabel" [viewLessMessage]="metadata.viewLessLabel"></f2ml-view-more>
        </div>

        <!--No data message -->
        <div class="document-nodata__container" *ngIf="!dataSource.filteredData.length">
          <span class="document-nodata__message">{{ metadata.emptyDocumentListMessage }}</span>
        </div>
      </ng-template>
      <ng-template [ngIf]="!originalData.length">
        <!--No data message -->
        <div class="document-nodata__container">
          <span class="document-nodata__message">{{ metadata.documentListNotFound }}</span>
        </div>
      </ng-template>
    </div>
  </f2ml-default-card>
</f2ml-default-template>
