<f2ml-default-template *ngIf="content$ | async" [communicationMetadata]="metadata.communicationMetadata">
  <f2ml-default-card main>
    <div content>
      <div class="payment-history__wrapper">
        <div><h1 class="default-card__title">{{ metadata.title }}</h1></div>
        <div class="cta__btn__container">
          <button mat-flat-button class="cta__btn">{{ metadata.downloadBtnLabel }}</button>
        </div>
      </div>

      <!-- Laptop -->
      <ng-template [ngIf]="deviceDetector.isLaptop()">
        <f2ml-payment-history-laptop [dataSource]="dataSource" [columns]="columns" (sortChange)="sortChange($event)" [metadata]="metadata"></f2ml-payment-history-laptop>
      </ng-template>

      <!-- Mobile & Tablet -->
      <ng-template [ngIf]="!deviceDetector.isLaptop()">
        <f2ml-payment-history-mobile [dataSource]="dataSource.filteredData" [columns]="columns" [metadata]="metadata"></f2ml-payment-history-mobile>
      </ng-template>

      <!--View more | less -->
      <div class="agreement-viewmore__container" *ngIf="dataSource.filteredData.length">
        <f2ml-view-more (viewMore)="displayData($event)" [displayFullData]="displayFullData" [viewMoreMessage]="metadata.tableMetadata.viewMoreLabel" [viewLessMessage]="metadata.tableMetadata.viewLessLabel"></f2ml-view-more>
      </div>
    </div>
  </f2ml-default-card>
</f2ml-default-template>

