@use 'breakpoints' as device;
@import 'variables';

.default-card__title {
  color: $color-font-title;
  font-size: $font-size-second;
  font-weight: bold;
  margin-bottom: 1em;
}
.cta__btn__container{
  position: relative;
  display: block;
  text-align: right;
}
.cta__btn{
  background-color: $color-primary;
  color: $color-font-primary-in-filled-background;
  font-weight: 500;
  height: 50px;
  padding: 0 30px;
  margin-left: 15px;

}
