@use 'breakpoints' as device;
@import 'variables';

.banner__container {
  display: flex;
  min-height: 64px;
}
.banner__content {
  flex: 1;
  display: flex;
  background-color: $color-background-block;
}
.banner__messages__container {
  flex: 1;
  display: flex
}
.banner__message__container {
  flex: 1;
  display: flex;
}
.banner__message__block {
  flex: 1;
  display: flex;
  align-items: center;
  margin: 1em;
  gap: 1em;
}
.banner__message {
  color: $color-font-sub-title;
  font-size: $font-size-fourth;
  font-weight: bold;
  margin: 0;
}
.banner__action__button {
  &:hover {
    background-color: $color-background-primary;
  }
}
.banner__icon__container {
  display: flex;
  background-color: $color-background-edge;
  height: 100%;
  padding: 1em 0.5em;
}
.banner__close__container {
  margin-left: auto;
}
.banner__close__icon {
  cursor: pointer;
}
::ng-deep.mat-tooltip.mat-tooltip-show {
  max-width: 300px;
}
.banner__info__container:not(.is-empty) {
  position: relative;
  &::after {
    content: attr(data-tooltip);
    background-color: rgb(97, 97, 97, 0.9);
    color: #ffffff;
    z-index: 2;
    border-radius: 4px;
    width: 300px;
    padding: 1em;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 100%;
    visibility: hidden;
    -webkit-transition: visibility 100ms ease-in-out;
    transition: visibility 100ms ease-in-out;
  }
  &:hover::after {
    visibility: visible;
  }
}

@include device.viewport(mobile) {
  .banner__message__block {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .banner__info__container:not(.is-empty) {
    &::after {
      width: 200px;
    }
  }
}
