<f2ml-account-card *ngIf="metadata$ | async as metadata">
  <div class="account-otp-not-received__container" content>

    <div class="account-otp-not-received__feedback-message__container" *ngIf="submitted">
      <span class="account-otp-not-received__feedback-message">{{ metadata.feedbackMessage }}</span>
    </div>

    <div class="account-otp-not-received__form__wrapper" *ngIf="!submitted">
      <div class="account-otp-not-received__form__container">
        <div class="account-otp-not-received__legend__container">
          <span class="account-otp-not-received__legend">{{ metadata.descriptionMessage }}</span>
        </div>
        <form class="account-otp-not-received__form" novalidate (ngSubmit)="submit()" [formGroup]="otpNotReceivedForm">
          <div class="account-otp-not-received__phone__container account-otp-not-received__input__container">
            <mat-label class="account-otp-not-received__phone__label account-otp-not-received__input__label">{{ metadata.phone.label }}</mat-label>
            <mat-form-field class="account-otp-not-received__phone__input account-otp-not-received__input" appearance="legacy" [hideRequiredMarker]="true">
              <mat-label></mat-label>
              <input formControlName="phone" type="phone" matInput placeholder="XXXXXXXXX" />
              <mat-error>
                <p ngxError="pattern">{{ metadata.phone.errorMessage }}</p>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="account-otp-not-received__nif__container account-otp-not-received__input__container">
            <mat-label class="account-otp-not-received__nif__label account-otp-not-received__input__label">{{ metadata.nif.label }}</mat-label>
            <mat-form-field class="account-otp-not-received__nif__input account-otp-not-received__input" appearance="legacy" [hideRequiredMarker]="true">
              <mat-label></mat-label>
              <input formControlName="nif" type="text" matInput placeholder="XXXXXXXXX" />
              <mat-error>
                <p ngxError="pattern">{{ metadata.nif.errorMessage }}</p>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="account-otp-not-received__submit__container">
            <button class="account-otp-not-received__submit__button" mat-raised-button color="primary" type="submit" [disabled]="!otpNotReceivedForm.valid">{{ metadata.ctaSendLabel }}</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</f2ml-account-card>
