<f2ml-default-card title="Documents">
  <div content class="home__documents">
    <div class="home__documents__card">
      <span>Agreement 10SPSJHSHSH009</span>
      <img src="/assets/images/view.png"/>
    </div>
    <div class="home__documents__card">
      <span>Agreement 10SPSJHSHSH009</span>
      <img src="/assets/images/view.png"/>
    </div>
    <div class="home__documents__card">
      <span>Agreement 10SPSJHSHSH009</span>
      <img src="/assets/images/view.png"/>
    </div>
  </div>
</f2ml-default-card>
