@use 'breakpoints' as device;
@import 'variables';

.communication__container {
  background-color: $color-background-block;
  padding: 2vh 1vh;
  height: auto;
  margin-top: 5vh;
  border-left: 4px solid $color-background-edge;
  .communication-title {
    font-weight: bold;
    font-size: $font-size-third;
    padding: 0.5em;
  }
  .communication-subtitle {
    display: flex;
    margin: 1vh 0;
    align-items: center;
    padding: 0.5em;
    .communication-subtitle-label {
      flex: 2;
    }
    span {
      text-decoration: underline;
      font-weight: bold;
      color: $color-primary;
      cursor: pointer;
    }
  }
  .communication-video {
    padding: 0.5em;
    iframe {
      width: 100%;
      height: 'auto';
    }
  }
  .communication-picture {
    padding-top: 1em;
    width: 100% !important;
    max-height: 200px;
    min-height: 150px;
  }
  .communication-pdf {
    display: flex;
    padding-bottom: 1vw;
    button {
      &:hover {
        background-color: $color-background-primary;
      }
    }
  }
}

@include device.viewport(not-laptop) {
  .communication__container {
    margin: 1em !important;
  }
}
