<div class="communication__container">
  <div class="communication-title">{{metadata.title}}</div>
  <div class="communication-subtitle" *ngIf="metadata.description">
    <div class="communication-subtitle-label" [innerHTML]="metadata.description"></div>
  </div>
  <div class="communication-video" *ngIf="metadata.video">
    <div id="message"></div>
    <iframe [src]="getVideoSanitizedUrl(metadata.video)"
      title="YouTube video player"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen>
    </iframe>
  </div>
  <div *ngIf="metadata.image">
    <img [src]="getImageUrl(metadata.image.url)" [alt]="metadata.image.alt" class="communication-picture"/>
  </div>
  <div class="communication-subtitle" *ngIf="metadata.cta">
    <span (click)="navigate(metadata.cta.url)">{{metadata.cta.title}}</span>
  </div>
  <div class="communication-pdf" *ngIf="metadata.pdf">
    <button (click)="downloadPdf(metadata.pdf.url)" mat-raised-button color="primary">{{metadata.pdf.label}}</button>
  </div>
</div>
