<f2ml-default-card [title]="metadata.title">
  <div class="manageable-content__container" content>
    <p>{{metadata.description}}</p>

    <f2ml-youtube-video-player *ngIf="metadata.videoUrl" [videoUrl]="metadata.videoUrl"></f2ml-youtube-video-player>

    <div *ngIf="metadata.link" class="manageable_content_link">
      <span (click)="navigateTo(metadata.link.url)">{{ metadata.link.label }}</span>
    </div>

    <div *ngIf="metadata.pdf" class="manageable_content_cta">
      <button (click)="downloadPdf(metadata.pdf.url)">{{ metadata.pdf.label }}</button>
    </div>

    <div>
      <img *ngIf="metadata.image" [src]="getImageUrl(metadata.image.url)" [alt]="metadata.image.alt" class="manageable_content_picture" />
    </div>

    <div *ngIf="metadata.cta" class="manageable_content_cta">
      <button (click)="navigateTo(metadata.cta.url)">{{ metadata.cta.label }}</button>
    </div>
  </div>
</f2ml-default-card>
