<div class="homepage-template__container" *ngIf="!(loaderService.isLoading$ | async)">
  <div class="template__container">
    <div>
      <ng-content select="[header]"></ng-content>
    </div>
    <div class="template__grid__home">
      <div class="template__agreement">
        <ng-content select="[agreement]"></ng-content>
      </div>
      <div class="template__document">
        <ng-content select="[document]"></ng-content>
      </div>
      <div class="template__request">
        <ng-content select="[request]"></ng-content>
      </div>
      <div class="template__manageable">
        <ng-content select="[manageable]"></ng-content>
      </div>
    </div>
  </div>
</div>
