@use 'breakpoints' as device;
@import 'variables';

.contract__card {
  border-left: 4px solid $color-background-edge;
  background-color: $color-background-block;
  padding: 2em;
  h1 {
    font-size: $font-size-third;
    font-weight: bold;
  }
  .contract__btn {
    background-color: $color-primary;
    color: $color-font-primary-in-filled-background;
    font-weight: 500;
    height: 50px;
    margin-left: 7px;
    font-size: $font-size-sixth;
  }
  .contract__card__details {
    background-color: $color-background-accent;
    padding: 30px 25px 20px 25px;
    margin-top: 20px;
    border-radius: 10px;
    h3 {
      font-size: $font-size-fourth;
      font-weight: bold;
      margin-bottom: 30px;
    }
    p {
      font-size: $font-size-fifth;
      line-height: 1.4em;
    }
  }
  .contract__agreements__details__title {
    font-weight: bold;
    color: $color-primary;
  }
  .contract__card__border {
    border-left: 2px solid $color-font-welcome;
  }
  .contract__padding__left {
    padding-left: 15px;
  }
  table {
    width: 100%;
  }
  .contract__responsive__card {
    background-color: $color-background-accent;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    &__table {
      border-collapse: separate;
      border-spacing: 10px 25px;
    }
  }
  .contract__btn__container {
    position: relative;
    display: block;
    text-align: right;
    grid-column: span 2;
  }
  .contract__responsive__display {
    display: none;
  }
  .car__container {
    background-color: $color-font-primary-in-filled-background;
    padding: 15px 10px 0px 10px;
    img {
      width: 100%;
    }
    p {
      padding-top: 15px;
    }
  }
  .contract__display__tablet {
    display: none;
    table {
      border-collapse: separate;
      border-spacing: 0em 2em;
    }
  }
  .color-background-highlighter {
    background-color: $color-background-highlighter;
  }
  .text-bold {
    font-weight: bold;
  }
  .contract__details__download__col {
    width: 22%;
  }
  .contract__details__view__col {
    width: 28%;
  }
  .contract__only__for__tablet__document__col {
    width: 35%;
  }
  .contract__only__for__tablet__references__col, .contract__only__for__tablet__date__col {
    width: 30%;
  }
  .contract__only__for__tablet{
    img {
      width: 40px;
    }
  }
  .contract__display__desktop__mobile {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .contract__wrapper__header, .contract__service__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
  }
  .contract__service__wrapper {
    margin-top: 10px;
  }
  .contract__service__details__span {
    grid-column: span 2;
  }
  @include device.viewport(tablet) {
    .contract__responsive__display {
      display: block;
    }
    .contract__only__for__tablet {
      display: table-row;
    }
    .contract__only__for__mobile, .contract__desktop__display {
      display: none;
    }
    .contract__card__border {
      border: none !important;
    }
    .car__container {
      padding: 35px 15px 10px 15px;
      img {
        width: 70%;
        display: flex;
        margin: 0 auto;
        padding-bottom: 10px;
      }
    }
    .contract__btn {
      float: none !important;
      margin-left: 0px !important;
      margin-right: 10px;
      margin-top: 10px;
    }
    .contract__display__tablet {
      display: block;
      td:nth-child(1) {
        width: 55%;
      }
    }
    .contract__display__desktop__mobile {
      display: none;
    }
    .contract__card__details h3 {
      margin-bottom: 0px;
    }
  }
  @include device.viewport(mobile) {
    .contract__responsive__display {
      display: block;
    }
    .contract__only__for__tablet, .contract__desktop__display {
      display: none;
    }
    .contract__only__for__mobile {
      display: table-row;
      td:first-child {
        width: 40%;
      }
      img {
        width: 40px;
      }
    }
    .contract__card__border {
      border: none !important;
    }
    .car__container {
      padding: 35px 15px 10px 15px;
      margin-right: 10px;
      img {
        width: 70%;
        display: flex;
        margin: 0 auto;
        padding-bottom: 10px;
      }
    }
    .contract__btn {
      float: none !important;
      margin-left: 0px !important;
      margin-right: 10px;
      font-size: $font-size-sixth;
      padding: 0px 12px;
      margin-top: 8px;
    }
    .contract__display__tablet {
      display: none;
    }
    .contract__display__desktop__mobile {
      display: block;
    }
    .contract__wrapper__header, .contract__service__wrapper {
      grid-template-columns: 1fr !important;
    }
    .contract__padding__left {
      padding-left: 0px !important;
    }
    .contract__service__details__span {
      grid-column: span 1;
    }
  }
}
