@use 'palette' as pat;
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@import '~bootstrap/dist/css/bootstrap.min.css';
// Plus imports for other components in your app.

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$csf2ml_b2c_frontend-primary: mat.define-palette(pat.$elmingo-primary-palette);
$csf2ml_b2c_frontend-accent: mat.define-palette(pat.$elmingo-accent-palette);

// The warn palette is optional (defaults to red).
$csf2ml_b2c_frontend-warn: mat.define-palette(mat.$red-palette);

// Specify "Encode Sans Expanded" as the default font family.
$csf2ml_b2c_frontend-typography: mat.define-typography-config(
  $font-family: 'Encode Sans Expanded, sans-serif',
);
// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$csf2ml_b2c_frontend-theme: mat.define-light-theme((
  color: (
    primary: $csf2ml_b2c_frontend-primary,
    accent: $csf2ml_b2c_frontend-accent,
    warn: $csf2ml_b2c_frontend-warn,
  ),
  typography: $csf2ml_b2c_frontend-typography,
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($csf2ml_b2c_frontend-theme);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// @include mat.core();
@include mat.core($csf2ml_b2c_frontend-typography);

/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0 }
