$elmingo-primary-palette: (
  50 : #e5e7f0,
  100 : #bdc3da,
  200 : #929bc1,
  300 : #6673a8,
  400 : #455595,
  500 : #243782,
  600 : #20317a,
  700 : #1b2a6f,
  800 : #162365,
  900 : #0d1652,
  A100 : #8994ff,
  A200 : #5666ff,
  A400 : #2338ff,
  A700 : #0921ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$elmingo-accent-palette: (
  50 : #e8f5f4,
  100 : #c7e6e3,
  200 : #a1d5d0,
  300 : #7bc4bd,
  400 : #5fb7ae,
  500 : #43aaa0,
  600 : #3da398,
  700 : #34998e,
  800 : #2c9084,
  900 : #1e7f73,
  A100 : #bbfff6,
  A200 : #88ffef,
  A400 : #55ffe8,
  A700 : #3bffe5,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
