$color-font-primary: #282b34;
$color-font-primary-in-filled-background: #ffffff;
$color-font-title: #282B34;
$color-font-subtitle: #1E2336;
$color-font-sub-title: #333333;
$color-font-welcome: #cccccc;
$color-font-highlighter: #f19076;
$color-font-divider: #999999;
$color-font-login-logo: #143A84;

$color-primary: #243782;
$color-accent: #43aaa0;

$color-background-primary: #282b34;
$color-background-accent: #f0f0f0;
$color-background-variant: #43aaa0;
$color-background-block: #ffffff;
$color-background-highlighter: #ffc7a0;
$color-background-edge: #f39671;


$font-size-page-title: 40px;
$font-size-zero: 32px;
$font-size-first: 24px;
$font-size-second: 20px;
$font-size-third: 18px;
$font-size-fourth: 16px;
$font-size-fifth: 14px;
$font-size-sixth: 12px;
$font-size-seventh: 10px;

// $font-size-zero: 2em; // 32px
// $font-size-first: 1.5em; // 24px
// $font-size-second: 1.25em; // 20px
// $font-size-third: 1.125em; // 18px
// $font-size-fourth: 1em; // 16px
// $font-size-fifth: 0.875em; // 14px
// $font-size-sixth: 0.75em; // 12px
// $font-size-seventh: 0.625em; // 10px
