<div class="account__container" [class.is-signup_page]="isSignupPage()" [class.is-signin_page]="isSigninPage()">
  <div class="account-title__container">
    <h1 class="account-title">Welcome to your online account</h1>
  </div>

  <div class="account-content__container">
    <div class="account-service__container" *ngIf="services$ | async as services">
      <div class="account-service__list">
        <div class="account-service" *ngFor="let service of services">
          <div class="account-service__icon-container">
            <img class="account-service__icon" src="assets/images/{{service.icon}}_outline.svg" />
          </div>
          <div class="account-service__presentation-container">
            <span class="account-service__presentation">{{service.title}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="account-form__container">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="account-footer__container" *ngIf="footerItems$ | async as footerItems">
    <f2ml-footer [footerItems]="footerItems"></f2ml-footer>
  </div>
</div>
