@use 'breakpoints' as device;
@import 'variables';

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $color-background-variant;
  padding: 1rem;
  border-radius: 5px;
}
.footer-items__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-grow: 1;
}
.footer-item {
  color: $color-font-primary-in-filled-background;
  font-weight: 300;
  font-size: $font-size-fourth;
  &:hover {
    font-weight: bold;
  }
}

@include device.viewport(laptop) {
  .footer-items__container {
    width: 70%;
    margin: auto;
  }
}

@include device.viewport(not-laptop) {
  .footer__container {
    border-radius: 0;
  }
}

@include device.viewport(mobile) {
  .footer-items__container {
    width: 90%;
    align-self: center;
  }
  .footer-item__container {
    padding-right: 1.5rem;
    position: relative;
    &:not(:last-child)::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 12.5%;
      height: 75%;
      border-right: 1px solid $color-font-primary-in-filled-background;
    }
  }
  .footer-logo__container {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
  }
}
